<html>
<%- include('partials/header', {script:'upload.js', stylesheet: 'upload.css'}) %>
<div class="container">
    <h1>Upload pictures</h1>
    <form id="upload" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label for="inputFile">File</label>
            <input name="file" type="file" class="form-control-file" id="inputFile" value="">
        </div>
        <div class="form-group">
            <label for="inputHeight">Preferred height</label>
            <input name="height" type="number" class="form-control" id="inputHeight" value="800">
        </div>
        <div class="form-group">
            <label for="inputWidth">Preferred width</label>
            <input name="width" type="number" class="form-control" id="inputWidth" value="600">
        </div>
        <button class="btn btn-success" id="uploadButton">Upload</button>
        <a class="btn btn-danger" id="backHomeButton" href="/">Cancel</a>
    </form>
</div>
<%- include('partials/footer') %>
</html>