<head>
    <% var script = JSON.stringify(script) %>
    <% var stylesheet = JSON.stringify(stylesheet) %>
    <script src=<%- script %>></script>
    <link rel="stylesheet" href=<%- stylesheet %>>
</head>
<title>PictureBox</title>