<html>
<%- include('partials/header', {script:'root.js', stylesheet: 'root.css'}) %>

<div class="container">
    <h1>Welcome to PictureBox! Where do you want to start?</h1>
    <div class="buttonContainer">
        <a class="btn btn-primary" href="/overview">Overview</a>
        <a class="btn btn-primary" href="/upload">Upload</a>
    </div>
</div>

<%- include('partials/footer') %>
</html>